Repository shutter-network/shutter-explorer, pull requests merged in 2024-10, with the labels that each got.

#94 retreive last 30 days txs
  backend/internal/data/shutter_explorer.sql.go
  backend/internal/data/sql/queries/shutter_explorer.sql
  backend/internal/usecase/transaction.go
  frontend/src/modules/Transaction.tsx
Labels: backend

#102 Feature/89 minor styling updates
  frontend/.env.development
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/icons/arrows_horizontal.svg
  frontend/src/components/BasicTable.tsx
  frontend/src/components/CustomAxisToolTip.tsx
  frontend/src/components/CustomLineChart.tsx
  frontend/src/components/OverviewCard.tsx
  frontend/src/components/RevertedInfoBox.tsx
  frontend/src/modules/TransactionGauge.tsx
  frontend/src/pages/Slot.tsx
  frontend/src/pages/System.tsx
  frontend/src/styles/overviewCard.ts
  frontend/src/styles/searchBar.ts
  frontend/src/styles/table.ts
  frontend/src/theme.ts
Labels: frontend

#109 Feat/change included status
  backend/internal/service/transaction.go
  backend/internal/websocket/manager.go
Labels: backend

#129 Fix/header sidebar design
  frontend/src/assets/icons/burger.svg
  frontend/src/components/Header.tsx
  frontend/src/components/ResponsiveLayout.tsx
  frontend/src/styles/header.ts
Labels: frontend

#147 Feat/highlight sidebar
  frontend/src/components/Sidebar.tsx
  frontend/src/styles/sidebar.ts
Labels: frontend

#163 Fix/160 fix unit tests
  frontend/cypress.config.ts
  frontend/cypress/components/SearchBar.cy.tsx
  frontend/cypress/components/Slot.cy.tsx
  frontend/cypress/components/Transaction.cy.tsx
  frontend/cypress/components/TransactionGauge.cy.tsx
  frontend/cypress/utils/transactionUtils.ts
Labels: frontend

#164 remove block number
  backend/internal/data/shutter_explorer.sql.go
  backend/internal/data/sql/queries/shutter_explorer.sql
  backend/internal/usecase/transaction.go
Labels: backend

#169 Fix/tx detail statuses
  frontend/cypress/components/Transaction.cy.tsx
  frontend/cypress/utils/transactionUtils.ts
  frontend/src/pages/Transaction.tsx
  frontend/src/utils/utils.ts
Labels: frontend

#180 fix erpc query
  backend/internal/data/shutter_explorer.sql.go
  backend/internal/data/sql/queries/shutter_explorer.sql
  backend/internal/usecase/transaction.go
Labels: backend

#192 Fix/inclusion time
  backend/internal/data/models.sqlc.gen.go
  backend/internal/data/shutter_explorer.sql.go
  backend/internal/data/sql/queries/shutter_explorer.sql
  backend/internal/data/sql/schemas/shutter_explorer.sql
  backend/internal/usecase/transaction.go
Labels: backend

#196 Feat/add blocknumber for unshielded
  backend/internal/usecase/transaction.go
  frontend/src/pages/Transaction.tsx
Labels: backend, frontend

#205 captialize tx statuses
  frontend/cypress/components/Transaction.cy.tsx
  frontend/cypress/utils/transactionUtils.ts
  frontend/src/pages/Transaction.tsx
  frontend/src/styles/transactionDetail.ts
Labels: frontend
